!.vscode/extensions.json.default
!.vscode/launch.json.default
!.vscode/settings.json.default
.DS_Store
.env
.openzeppelin/unknown-*.json
.package-lock.json
.tmp
.vscode/*
.yalc
*-deployer.json
/.dapp
/flatten
/out
/types/
# OpenZeppelin upgradeable files
artifacts/
cache_foundry
cache_hardhat
cache/
contractsInfo.json
coverage-html/
coverage*
deployments/**/solcinputs
deployments/hardhat/
docs
lcov.info
node_modules/
yalc.lock
yarn-error.log
abi/